*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 50px;
    background-color: #f06529;
    display: flex;
    align-items: center;
}

header i{
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.2s;
}
header i:hover{
    color: #fff;
}

p{
    font-size: calc(1vw + 5px);
}

h6{
    font-size: calc(0.5vw + 5px);
}

.maintable{
    border-collapse: collapse;
    margin: 20px auto 0 auto;
    max-width: 900px;
}

.maintable th{
    position: sticky;
    top: 0;
    background-color: #f06529;
    color: #fff;
}

.maintable th > h1{
    font-size: calc(2vw + 5px);
}

.maintable th,td{
    padding: 22px;
    width: 30%;
    border: 1px solid rgb(183, 180, 180);
}

.text-center{
    text-align: center;
}


/* more-input */

#con-moreinput{
    display: none;
}

.more-input{
    margin: 0 auto;
    max-width: 900px;
    border-collapse: collapse;
}

.more-input th{
    position: sticky;
    top: 0;
    padding: 1.5rem 0;
    background-color: #f06529;
    color: #fff;
}

.more-input th > h2{
    font-size: calc(1.2vw + 5px);
}

.more-input th,td{
    width: 50%;
    border: 1px solid rgb(183, 180, 180);
}

label{
    font-size: calc(.7vw + 5px);
}

button{
    font-size: calc(0.6vw + 5px);
}

input{
    width: 30%;
}

.click_dark{
    background-color: #000;
}
.text_white{
    color: #fff;
}