*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 50px;
    background-color: rgb(255, 59, 59);
    display: flex;
    align-items: center;
}

header i{
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.2s;
}
header i:hover{
    color: #fff;
}

.dark1{
    background-color: #000;
}

.dark2{
    background: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0)) padding-box,linear-gradient( 60deg,red,rgb(214, 92, 241)) border-box;
    color: #fff;
}

section{
    border-radius: 4px;
    border: 2px solid transparent;
}

section h1{
    margin: 10px;
    text-align: center;
}

section > pre{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: block;
    background-color: rgba(249, 104, 96, 0.2);
    padding: 15px;
    line-height:1.5rem;
}

.text-center{
    text-align: center;
}

h1{
    font-size: calc(1vw + 10px);
}


p{
    font-size: calc(0.6vw + 5px);
}

table{
    margin-top: 15px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}


th{
    background-color: rgb(255, 59, 59);
    color: #fff;
}

td{
    padding: 10px;
    letter-spacing: 1px;
    background-color: rgba(249, 104, 96, 0.2);
}

th,td{
    width: 33.33%;
    border: 1px solid rgb(255, 255, 255);
}

.indent{
    text-indent: 15px;
}
.indent2{
    text-indent: 25px;
}




/* responsive */
@media screen and (max-width: 900px) {
    section{
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    td{
        padding-top: 20px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 565px) {
    p{
        font-size: 7px;
    }
}