*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: calc(.9vw + 5px);
}

h6{
    margin-bottom: 10px;
    font-size: calc(0.5vw + 5px);
}


main{
    margin: 0 auto;
    max-width: 690px;
}

table{
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-of-type(1){
    position: sticky;
    top: 0px;
    background-color: #000;
    color: #fff;
}

th{
    font-size: calc(1vw + 5px);
}

td,th{
    width: 50%;
    border: 1px solid rgb(183, 180, 180);
    padding: 15px;
}

.text-center{
    text-align: center;
}

.sticky{
    margin-top: 50px;
    position: sticky;
    top: 45px;
    background-color: #000;
    color: #fff;
}

.dark-mode{
    margin: 10px 15px;
    width: 150px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}

/* sun */

.dark-mode>div>div:nth-of-type(1){
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%,0);
    width: 3px;
    height: 6px;
    border: 1px solid black;
}

.dark-mode>div>div:nth-of-type(2){
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0,-50%) rotate(90deg);
    width: 3px;
    height: 6px;
    border: 1px solid black;
}

.dark-mode>div>div:nth-of-type(3){
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0,-50%) rotate(90deg);
    width: 3px;
    height: 6px;
    border: 1px solid black;
}

.dark-mode>div>div:nth-of-type(4){
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,0);
    width: 3px;
    height: 6px;
    border: 1px solid black;
}

.dark-mode>div{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #000;
    transition: all 0.3s ease;
}
.dark-mode:hover>div,.dark-mode:hover>div>div{
    background-color: #000;
}

.dark-mode>a>h2{
    transform: translate(-100%,0);
    transition: all 0.3s ease;
}
.dark-mode:hover>a>h2{
    transform: translate(0,0);
}

.dark-mode>a{
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}
.dark-mode:hover>a{
    opacity: 1;
}

.dark-mode::after{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    z-index: -1;
}

.home{
    width: 80px;
    margin-left: 10px;
    font-size: 25px;
}

.home>a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.home>a>div{
    overflow: hidden;
}

.home>a>div>h2{
    font-weight: 600;
    font-size: 14px;
    transform: translate(-100%,0);
    transition: all 0.3s ease;
}
.home:hover>a>div>h2{
    transform: translate(0,0);
}